/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/BuildWin/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/

# IDE
/.vs/
/.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vsconfig

# Unity generated
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# Builds and exports
*.apk
*.aab
*.unitypackage
*.mp4
*.log

# OS files
.DS_Store
Thumbs.db
